<td>
	<div class="switch_error">
		<span class="glyphicon glyphicon-exclamation-sign text-danger lead" data-toggle="tooltip" data-placement="top" title="<%= Spree.t(:'featured.ajax_error') %>"></span>
	</div>

	<%= form_for [:admin, product], :method => :put do |f| %>
		<%= f.check_box :featured, class: 'switch_me', id: "#{product.id}" %>
	<% end %>
</td>